<!-- TRIAL Credit Note, Chinese simplified -->
<!-- First Choice Internet, B.Plagge, 2008-07-21 -->
<body bgcolor=ffffff>

<table width=100%>
	<%include letterhead.html%>
	<tr>
		<td>&nbsp;</td>
		<th><h4>借 记 单</h4></th>
	</tr>	
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width=100% callspacing=0 cellpadding=0>
			<tr valign=top>
				<td>
					<%include customer_cn.html%>
				</td>
				<td align=right>
					<table>
					<tr>
						<th align=left nowrap>发票号码</th>
						<td><%invnumber%></td>
					</tr>
					<tr>
						<th align=left nowrap>发票日期</th>
						<td><%invdate%></td>
					</tr>
					<tr>
						<th align=left nowrap>限期</th>
						<td><%duedate%></td>
					</tr>
					<%if ponumber%>
					<tr>
						<th align=left>购买订单号码</th>
						<td><%ponumber%>&nbsp;</td>
					</tr>
					<%end ponumber%>
					<%if ordnumber%>
					<tr>
						<th align=left>订单号码</th>
						<td><%ordnumber%>&nbsp;</td>
					</tr>
					<%end ordnumber%>
					<tr>
						<th align=left nowrap>制单员</th>
						<td><%employee%>&nbsp;</td>
					</tr>
					</table>
				</td>
			</tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table>
	<%foreach account%>
	<tr valign=top>
	  <td><%accno%></td>
	  <td><%account%></td>
	  <td width=10>&nbsp</td>
	  <td align=right><%amount%></td>
	  <td width=10>&nbsp</td>
	  <td><%description%></td>
	  <td width=10>&nbsp</td>
	  <td><%projectnumber%></td>
	</tr>
	<%end account%>

	<tr>
	  <%if taxincluded%>
	  <th colspan=2 align=right>总额</th>
	  <td width=10>&nbsp</td>
	  <td align=right><%invtotal%></td>
	  <%end taxincluded%>

	  <%if not taxincluded%>
	  <th colspan=2 align=right>小计</th>
	  <td width=10>&nbsp</td>
	  <td align=right><%subtotal%></td>
	  <%end taxincluded%>
	</tr>

	<%foreach tax%>
	<tr>
	  <th colspan=2 align=right>增值税 @ <%taxrate%> %</th>
	  <td width=10>&nbsp</td>
	  <td align=right><%tax%></td>
	</tr>
	<%end tax%>
	
	<%if not taxincluded%>
	<tr>
	  <th colspan=2 align=right>总额</th>
	  <td width=10>&nbsp</td>
	  <td align=right><%invtotal%></td>
	</tr>
	<%end taxincluded%>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <%notes%>
    </td>
  </tr>

  <%if paid_1%>
  <tr>
    <td>&nbsp;</td>

    <td>
      <table>
        <tr>
          <th>已付</th>
        </tr>

        <tr>
          <td>
          <hr noshade>
          </td>
        </tr>

	<tr>
	  <td>
	    <table>
	      <tr>
		<th>日期</th>
		<th>&nbsp;</th>
		<th>付款方式</th>
		<th>付款</th>
	      </tr>
  <%end paid_1%>

        <%foreach payment%>
	      <tr>
		<td><%paymentdate%></td>
		<td><%paymentaccount%></td>
		<td><%paymentsource%></td>
		<td align=right><%payment%></td>
	      </tr>
        <%end payment%>

  <%if paid_1%>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>
  <%end paid_1%>

  <tr height=10></tr>


  <%if taxincluded%>
  <tr>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <th colspan=3 align=left>价格已含税</th>
  </tr>
  <%end taxincluded%>

</table>

</body>
</html>

