<!-- TRIAL Customer Address, Chinese simplified -->
<!-- First Choice Internet, B.Plagge, 2008-07-17 -->
<table width=100% callspacing=0 cellpadding=0>
	<tr valign=top>
		<td><br>
			<%country%><%state%><%city%><%address2%><%address1%><%name%><br/>
			<%if contact%>
				<br><%contact%> 様
			<%end contact%><br>
			<%if customerphone%>
				<br>电话: <%customerphone%>
			<%end customerphone%>
			<%if customerfax%>
				<br>传真: <%customerfax%>
			<%end customerfax%>

			<%if email%>
				<br>电邮: <%email%>
			<%end email%>
		</td>
		<td>
		</td>
	</tr>
</table>
