<!-- TRIAL Invoice, Chinese simplified -->
<!-- First Choice Internet, B.Plagge, 2008-07-21 -->
<body bgcolor=ffffff>

<table width=100%>
  <%include letterhead.html%>
	<tr>
    	<td>&nbsp;</td>
		<td>
			<table width=100% cellspacing=5>
			<tr bgcolor=000000>
				<th width=50% align=left><font color=ffffff>TO</th>
			</tr>
			<tr valign=top>
				<td>
					<%include customer_cn.html%>
				</td>
				<td>
					<%include shipto_cn.html%>	  
				</td>
			</tr>
			</table>		
		</td>
	</tr>
	<tr height=5></tr>
	<tr>
		<td>&nbsp;</td>
		<th align=left>
			<h2>发 票 号 码</h2>
		</th>
	</tr>
	<tr height=5></tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width=100% border=1>
			<tr>
				<th width=14% align=left nowrap>发票号码</th>
				<th width=14% align=left nowrap>日期</th>
				<th width=14% align=left nowrap>限期</th>
				<th width=14% align=left nowrap>订单号码</th>
				<th width=14% align=left nowrap>销售员</th>
				<th width=14% align=left nowrap>装送点</th>
				<th width=14% align=left nowrap>经由</th>
			</tr>
			<tr>
				<td><%invnumber%></td>
				<td><%invdate%></td>
				<td><%duedate%></td>
				<td><%ordnumber%>&nbsp;</td>
				<td><%employee%>&nbsp;</td>
				<td><%shippingpoint%>&nbsp;</td>
				<td><%shipvia%>&nbsp;</td>
			</tr>
			</table>			
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width=100%>
			<tr bgcolor=000000>
				<th align=right nowrap><font color=ffffff>项目</th>
				<th align=left nowrap><font color=ffffff>原料编号</th>
				<th align=left nowrap><font color=ffffff>说明</th>
				<th>&nbsp;</th>
				<th align=right nowrap><font color=ffffff>数量</th>
				<th>&nbsp;</th>
				<th align=right nowrap><font color=ffffff>单价</th>
				<th align=right nowrap><font color=ffffff>折扣 ％</th>
				<th align=right nowrap><font color=ffffff>金额</th>
			</tr>
			<%foreach number%>
			<tr valign=top>
				<td align=right><%runningnumber%></td>
				<td><%number%></td>
				<td><%description%></td>
				<td><%deliverydate%></td>
				<td align=right><%qty%></td>
				<td><%unit%></td>
				<td align=right><%sellprice%></td>
				<td align=right><%discountrate%></td>
				<td align=right><%linetotal%></td>
			</tr>
			<%if itemnotes%>
			<tr>
				<td colspan="2">&nbsp;</td>
				<td><%itemnotes%></td>
				<td colspan="6">&nbsp;</td>
			</tr>
			<%end itemnotes%>				
			<%end number%>
			<tr>
				<td colspan=9><hr noshade></td>
			</tr>
			<tr>
			<%if taxincluded%>
			<tr>>
				<th colspan=7 align=right>总额</th>
				<td colspan=2 align=right><%invtotal%></td>
			</tr>
			<tr>
			<%end taxincluded%>
			<%if not taxincluded%>
				<th colspan=7 align=right>小计</th>
				<td colspan=2 align=right><%subtotal%></td>
			<%end taxincluded%>
			</tr>
			<%foreach tax%>
			<tr>
				<th colspan=7 align=right nowrap>增值税 @ <%taxrate%> %</th>

				<td colspan=2 align=right><%tax%></td>
			</tr>
			<%end tax%>
			<%if not taxincluded%>
			<tr>
				<th colspan=7 align=right>总额</th>
				<td colspan=2 align=right><%invtotal%></td>
			</tr>
			<%end taxincluded%>
			<tr>
				<td colspan=5>&nbsp;</td>
				<td colspan=4><hr noshade></td>
			</tr>
			<%if paid%>
			<tr>
				<th colspan=7 align=right>已付</th>
				<td colspan=2 align=right>- <%paid%></td>
			</tr>
			<%end paid%>
			<tr>
				<td colspan=5>&nbsp;</td>
				<td colspan=4><hr noshade></td>
			</tr>
			<tr>
				<td colspan=5>&nbsp;</td>
				<th colspan=2 align=right nowrap>未付</th>
				<th colspan=2 align=right><%total%></th>
			</tr>												
			</table>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width=100%>
			<tr valign=top>
				<td align=left nowrap>发票货币: <b><%currency%></b></td>
			</tr>
			<%if taxincluded%>
			<tr>
				<th align=left>币种</th>
			</tr>
			<%end taxincluded%>
			</table>
		</td>
	</tr>
	<tr height=5></tr>
	<%if not paid_1%>	
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width=100%>
			<tr valign=top>
				<td width=40% align="left">
					<%notes%>
				</td>
			</tr>
			</table>
		</td>
	</tr>
	<%end paid_1%>
	<%if paid_1%>
	<tr>
		<td>&nbsp;</td>
		<td>
			<table width=100%>
			<tr valign=top>
				<td width=40% align="left">
					<%notes%>
				</td>
	  			<td width=60% align=right>
					<table width=100%>
					<tr bgcolor=000000>
						<th colspan=4><font color=ffffff>付款</th>
					</tr>
					<tr>
						<th align=left>日期</th>
						<th align=left>&nbsp;</th>
						<th align=left>付款方式</th>
						<th align=left width=1%>金额</th>
					</tr>
					<%end paid_1%>
					<%foreach payment%>
					<tr>
						<td nowrap><%paymentdate%></td>
						<td nowrap><%paymentaccount%></td>
						<td><%paymentsource%></td>
						<td><%payment%></td>
					</tr>
					<%end payment%>					
					<%if paid_1%>										
					</table>	  			
	  			</td>					
			</tr>
			</table>
		</td>
	</tr>
	<%end paid_1%>	
	<tr>
		<td>&nbsp;</td>
		<td><hr noshade></td>
	</tr>							
</table>

</body>
</html>

