  <tr>
    <td width=10>&nbsp;</td>

    <td>
      <table width=100%>
        <tr>
          <td>
            <h4>
            SQL-Ledger Japan - 	测验系统<br>
            First Choice Internet, Tokyo - Tel. 03-4500-7799
            </h4>
          </td>

          <th><img src=<%templates%>/fclogo.jpg border=0 height=58></th>

          <td align=right>
            <h4>
            電話: <%tel%><br>
            ファックス: <%fax%>
            </h4>
          </td>
        </tr>

        <tr>
          <td colspan=3>
	    <hr noshade>
          </td>
        </tr>
      </table>
    </td>
  </tr>

