<!-- TRIAL Packing List, Chinese simplified -->
<!-- First Choice Internet, B.Plagge, 2008-07-21 -->
<body bgcolor=ffffff>
<table width=100%>
  <%include letterhead.html%>
  <tr>
    <td>&nbsp;</td>
    <td>
    		<%include shipto_cn.html%>
    </td>
  </tr>
  <tr height=5></tr>  
  <tr>
    <td>&nbsp;</td>
    <td>
      <table width=100% border=1 cellpadding="5" cellspacing="0">
	<tr>
	  <th width=17% align=left>发票号码</th>
	  <th width=17% align=left>订单号码</th>
	  <th width=17% align=left>日期</th>
	  <th width=17% align=left nowrap>制单员</th>
	  <%if warehouse%>
	  <th width=17% align=left>仓库</th>
	  <%end warehouse%>
	  <th width=17% align=left>装送点</th>
	  <th width=15% align=left>经由</th>
	</tr>

        <tr>
	  <td><%invnumber%>&nbsp;</td>
	  <td><%ordnumber%>&nbsp;</td>
	  
	  <%if shippingdate%>
	  <td><%shippingdate%></td>
	  <%end shippingdate%>
	  
	  <%if not shippingdate%>
	  <td><%transdate%></td>
	  <%end shippingdate%>
  
      <td><%employee%>&nbsp;</td>
	  
	  <%if warehouse%>
	  <td><%warehouse%>&nbsp;</td>
	  <%end warehouse%>
	  
	  <td><%shippingpoint%>&nbsp;</td>
	  <td><%shipvia%>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td><br><br>
      <table width=100%>
	<tr>
	  <th align=left>项目</th>
	  <th align=left>原料编号</th>
	  <th align=left>说明</th>
	  <th align=left>序列号</th>
	  <th>&nbsp;</th>
	  <th>数量</th>
	  <th>交付数量</th>
	  <th>単位</th>
	</tr>
	  <td colspan="8"><hr noshade="1"></td>
	<%foreach number%>
	<tr valign=top>
	  <td><%runningnumber%></td>
	  <td><%number%></td>
	  <td><%description%></td>
	  <td><%serialnumber%></td>
	  <td><%deliverydate%></td>
	  <td align=right><%qty%></td>
	  <td align=right><%ship%></td>
	  <td><%unit%></td>
	</tr>
	<%end number%>

      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td><hr noshade="1" size="4"></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    
    <td>
      <table width=100%>
	<tr valign=top>
	  <td>备注</td>
	  <td><%notes%></td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    
    <td>
      <table width=100%>
	<tr valign=top>
	  <td width=70%>若退货将收取价格的10%的手续费. 退货前必须先有告知发货商并且得到确认. <br/>
	  发货商不承担运费及保险 并不承但商品在运送中的损坏<br/>
	  </td>
	  <td width=30%>
	  &nbsp;
	  </td>
	  <td>
	 </tr>
      </table>
      <br><br>
<hr noshade>
    </td>
  </tr>
</table>

