<!-- TRIAL Sales Quotation, Chinese simplified -->
<!-- First Choice Internet, B.Plagge, 2008-07-17 -->
<body bgcolor=ffffff>
	<%include letterhead.html%>  
  <table width=100% cellspacing=0 cellpadding=0>
  <tr>
    <td>
		<table width=100%>
			<tr>
				<td width=50%>&nbsp;</td>
				<td><%include customer_cn.tex%>	</td>
			</tr>
		</table>
	 </td>
  </tr>
  
  <tr align="center"><td><h4>报 价</h4></td></tr>

    <tr>
    <td colspan=2>
      <table width=100% border=1 cellpadding="5" cellspacing="0">
        <tr>
	  <th width=17% align=left nowrap>报价号码</th>
	  <th width=17% align=left>报价日期</th>
	  <th width=17% align=left>到期</th>
	  <th width=17% align=left nowrap>销售员</th>
	  <th width=17% align=left nowrap>装送点</th>
	  <th width=15% align=left nowrap>经由</th>
	</tr>
	<tr>
	  <td><%quonumber%></td>
	  <td><%quodate%></td>
	  <td><%reqdate%></td>
	  <td><%employee%></td>
	  <td><%shippingpoint%>&nbsp;</td>
	  <td><%shipvia%>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td><br>货币: <%currency%><br></td>
  </tr>
  
  <tr>
    <td><br><br>
    <table width=100%>
    <tr>
      <th align=left>部位</th>
      <th align=left>原料编号</th>
      <th align=left>说明</th>
       <th align=left>&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>数量</th>
      <th>単位</th>
      <th>单价</th>
      <th>折扣 \%</th>
      <th>金额</th>
    </tr>
    
    <tr>
      <td colspan=9><hr noshade></td>
    </tr>

<%foreach number%>
	<tr valign=top>
		<td align=left><%runningnumber%></td>
		<td><%number%></td>
		<td><%description%></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td align=right><%qty%></td>
		<td><%unit%></td>
		<td align=right><%sellprice%></td>
		<td align=right><%discountrate%></td>
		<td align=right><%linetotal%></td>
	</tr>
<%end number%>

    <tr>
      <td colspan=9><hr noshade="1" size="4"></td>
    </tr>
    
    <tr>
<%if taxincluded%>
      <th colspan=5 align=right>总额</th>
      <td colspan=4 align=right><%quototal%></td>
<%end taxincluded%>

<tr>
<%if not taxincluded%>
      <th colspan=5 align=right>小计</th>
      <td colspan=4 align=right><%subtotal%></td>
<%end taxincluded%>
    </tr>

<%foreach tax%>
    <tr>
      <th colspan=5 align=right>增值税 @ <%taxrate%></th>
      <td colspan=4 align=right><%tax%></td>
    </tr>
<%end tax%>

    <tr>
      <td colspan=5>&nbsp;</td>
      <td colspan=4><hr noshade></td>
    </tr>
    <tr>
      <th colspan=5 align=right>总额</th>
      <th colspan=4 align=right><%quototal%></th>
    </tr>
    
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>

    </table>
    </td>
  </tr>

<tr>
  <td>
  <table width=100%>
    <tr valign=top>
<%if notes%>
      <td><%notes%></td>
<%end notes%>
    </tr>
  </table>
  </td>
</tr>

<tr><td>&nbsp;</td></tr>

</table>

</td>
</tr>
</table>

</body>
</html>

