<!-- TRIAL Timecard, Chinese simplified -->
<!-- First Choice Internet, B.Plagge, 2008-07-21 -->
<body bgcolor=ffffff>
<table width=100%>
  <%include letterhead.html%>
  <tr>
    <td width=10>&nbsp;</td>
    <th colspan=3>
      <h4>考 勤 卡</h4>
    </th>
  </tr>
  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
        <tr valign=top>
	  <td>
	    <table>
	      <tr>
		<th align=left>制单员</th>
		<td><%employee%></td>
	      </tr>
	      <tr>
		<th align=left>号码</th>
		<td><%employee_id%></td>
	      </tr>
	    </table>
	  </td>
   
	  <td align=right>
	    <table>
	      <tr>
		<th align=left nowrap>持 卡 人</th>
		<td><%id%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>日期</th>
		<td><%transdate%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>入</th>
		<td><%checkedin%></td>
	      </tr>
              <tr>
                <th align=left>出</th>
		<td><%checkedout%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>小时</th>
		<td><%qty%></td>
	      </tr>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table width=100%>
        <tr valign=bottom>
	  <td>
	    <table>
	      <tr valign=top>
	        <th align=left>工作/项目号码</th>
		<td><%projectnumber%></td>
	      </tr>
	      <tr>
	        <th align=left>说明</th>
		<td><%projectdescription%></td>
	      </tr>
	      <tr valign=top>
	        <th align=left>工人/服务号码</th>
		<td><%partnumber%></td>
	      </tr>
	      <tr>
	        <th align=left>说明</th>
		<td><%description%></td>
	      </tr>
	    </table>
	  </td>
	  <td align=right>
	    <table>
	      <tr>
	        <th align=right>价格</th>
		<td><%sellprice%></td>
	      </tr>
	      <tr>
		<th align=right>总额</th>
		<td><%total%></td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

<%if notes%>
  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>

    <td>
      <%notes%>
    </td>
  </tr>
<%end notes%>

</table>

</body>
</html>

