
<body bgcolor=ffffff>

<table width=100%>
	  <%include letterhead.html%>

  <tr>
    <td width=10>&nbsp;</td>

    <th colspan=3>
      <h4>買掛 ト ラ ン ザ ク シ ョ ン</h4>
    </th>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
        <tr valign=top>
          <td><%name%>
          <br><%address1%>
	  <%if address2%>
          <br><%address2%>
	  <%end address2%>
          <br><%city%> <%state%> <%zipcode%>
	  <%if country%>
	  <br><%country%>
	  <%end country%>
          <br>

          <%if contact%>
          <br><%contact%>
          <br>
          <%end contact%>

          <%if customerphone%>
          <br>電話: <%customerphone%>
          <%end customerphone%>

          <%if customerfax%>
          <br>ファックス: <%customerfax%>
          <%end customerfax%>

          <%if email%>
          <br><%email%>
          <%end email%>
          </td>
   
	  <td align=right>
	    <table>
	      <tr>
		<th align=left nowrap>請求書番号</th>
		<td><%invnumber%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>日付</th>
		<td><%invdate%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>支払予定日</th>
		<td><%duedate%></td>
	      </tr>
	      <tr>
		<th align=left>注文番号</th>
		<td><%ordnumber%>&nbsp;</td>
	      </tr>
	      <tr>
		<th align=left nowrap>担当者</th>
		<td><%employee%>&nbsp;</td>
	      </tr>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table width=100%>
        <tr valign=top>
	  <td width=50%>
	    <table>
	      <%foreach account%>
	      <tr valign=top>
		<td><%accno%></td>
		<td><%account%></td>
		<td align=right><%amount%></td>
		<td><%projectnumber%></td>
	      </tr>
	      <%end account%>

	      <tr>
		<%if taxincluded%>
		<th colspan=2 align=right>合計</th>
		<td align=right><%invtotal%></td>
		<%end taxincluded%>

		<%if not taxincluded%>
		<th colspan=2 align=right>小計</th>
		<td align=right><%subtotal%></td>
		<%end taxincluded%>
	      </tr>

	      <%foreach tax%>
	      <tr>
		<th colspan=2 align=right><%taxdescription%> @ <%taxrate%> %</th>
		<td align=right><%tax%></td>
	      </tr>
	      <%end tax%>
	      
	      <%if not taxincluded%>
		<th colspan=2 align=right>合計</th>
		<td align=right><%invtotal%></td>
	      <%end taxincluded%>

	    </table>
	  </td>
	  <td width=50%>
	    <%notes%>
	  </td>
	</tr>
      </table>
    </td>
  <tr>
    <td>&nbsp;</td>
    
  </tr>


  <%if paid%>
  <tr>
    <td>&nbsp;</td>

    <td><br><br>
      <table>
        <tr>
          <th>支払金額</th>
        </tr>

        <tr>
          <td>
          <hr noshade>
          </td>
        </tr>

	<tr>
	  <td>
	    <table>
	      <tr>
		<th align=left>日付</th>
		<th align=left>勘定</th>
		<th align=left>元</th>
		<th align=left>メモ</th>
		<th align=left>金額</th>
	      </tr>
  <%end paid%>

        <%foreach payment%>
	      <tr>
		<td><%paymentdate%></td>
		<td><%paymentaccount%></td>
		<td><%paymentsource%></td>
		<td><%paymentmemo%></td>
		<td><%payment%></td>
	      </tr>
        <%end payment%>

  <%if paid%>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>
  <%end paid%>

  <tr height=10></tr>

  <%if taxincluded%>
  <tr>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td colspan=3 align=left>全ての金額は税込みでございます。</td>
  </tr>
  <%end taxincluded%>

</table>

</body>
</html>

